<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019 Louis Cognault Ayeva Derman. Use of this source code is governed by the Apache 2.0 license.
  -->
<manifest
    package="splitties.stetho.init"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".StethoInitProvider"
            android:authorities="${applicationId}.splitties.stetho.init"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>
